body {
    padding: 0px auto;
    background-image: url("img/img-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}


/* Partie header */

#header {
    background-color: #042425;
    width: 100%;
    height: 100px;
    margin: 0px;
    display: inline-block;
    color: #f8fdfd;
}

#header_h1 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    bottom: 100px;
}

#header_h1 h1 {
    text-align: center;
}

#header_img {
    width: 5%;
    height: 100px;
    margin: 5px auto;
    display: inline-block;
}

#header_img img {
    width: 50px;
    height: 100px;
}


/* Fin partie Header*/


/* Page Connexion*/

.container {
    margin: 5px auto;
    height: 1500px;
    width: 97%;
    border-radius: 5px;
}

#connexion {
    margin: 100px auto;
    border-radius: 5px;
    width: 500px;
    height: 400px;
    padding-top: 0px;
}

#connexion h1 {
    margin: 0px 0px 0px 0px;
    text-align: left;
    padding: 4% 0% 2% 5%;
    display: inline-block;
    position: relative;
}

.login_header {
    background-color: #80d0d0;
    height: 25%;
    position: relative;
}

#btn_fermer {
    width: 15px;
    height: auto;
    display: inline-block;
    position: relative;
    left: 55%;
}

.login_container {
    height: 75%;
    background-color: #fdffff;
}

#form_connexion {
    padding: 5% 5% 5% 5%;
    margin: 0px auto;
    padding: 0px auto;
}

#form_connexion input {
    width: 90%;
    height: 10%;
    padding: 5% 5% 5% 5%;
    margin: 0px auto;
    border-radius: 1px;
}

.glyph-icones {
    width: 25px;
    height: auto;
    display: inline-block;
    position: relative;
    left: 90%;
    bottom: 40px;
}

#seconnecter {
    width: 25%;
    height: auto;
    display: inline-block;
    position: relative;
}

#seconnecter button {
    background-color: #80d0d0;
    width: 100%;
    border-radius: 10px;
}

#inscription {
    width: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
}

#inscription button {
    background-color: #ffffff;
    width: 100%;
    border: none;
}

p {
    font-weight: bolder;
    font-size: 15.5px;
}


/* Partie accueil */

#titre {
    width: 100%;
    height: 75px;
    display: inline-block;
    position: relative;
}

#titre_text {
    width: 74%;
    background-color: #80d0d0;
    display: inline-block;
}

#titre_text h1 {
    text-align: center;
}


/* Partie accueil fin */


/* Partie admin*/

#container-admin {
    width: 98%;
    height: auto;
    margin: 17px auto;
    background-color: #818181;
    position: relative;
    bottom: 80px;
}

#admin_header {
    background-color: #80d0d0;
    text-align: center;
}

#admin_header button {
    position: relative;
    left: 45%;
}

#admin_header h1 {
    display: inline-block;
    position: relative;
    top: 25px;
    padding: auto;
}

#btn_deconnexion {
    display: inline-block;
    position: relative;
    left: 35%;
    bottom: 40px;
}

#btn_deconnexion button {
    width: auto;
    height: auto;
    background-color: #51bfd0;
    font-size: 30px;
    border-radius: 5px 5px 5px 5px;
}

a {
    text-decoration: none;
}

#zone_admin {
    width: 100%;
    height: auto;
}

#admin_menu {
    width: 35%;
    height: auto;
    background-color: #ffffff;
    border-radius: 0% 0% 2% 2%;
    margin: 5% 2% 5% 2%;
    display: inline-block;
}

#zone_avatar {
    width: 100%;
    height: 250px;
    background-color: #51bfd0;
    border-radius: 2% 2% 0% 0%;
}

#menu a {
    text-decoration: none;
    font-size: 200%;
    color: #818181;
}

#menu li {
    list-style-type: none;
    width: 50%;
}

.glyphicon {
    display: inline-block;
    position: relative;
    left: 110%;
}

#zone_questionnaire {
    display: inline-block;
    width: 60%;
    height: auto;
    background-color: #f8fdfd;
    border-radius: 2% 2% 2% 2%;
}

#zone_questionnaire h1 {
    text-align: center;
    display: block;
    top: 50px;
}

#zone_questionnaire textarea {
    display: inline-block;
    position: relative;
    width: 10%;
    height: 30px;
    left: 70%;
    bottom: 50px;
    font-size: 30px;
}

#zone_questionnaire button {
    display: inline-block;
    position: relative;
    width: auto;
    height: 35px;
    left: 70%;
    bottom: 63px;
    background-color: #5e90af;
}

#liste_question {
    margin: 10px auto;
    border: 1px solid #818181;
    width: 95%;
    height: auto;
    border-radius: 5px 5px 5px 5px;
}


/* Partie admin Fin */


/* Partie formulaire inscription */

#container-inscription {
    width: 85%;
    height: auto;
    margin: auto;
    background-color: #f8fdfd;
    font-family: 'Open Sans';
    text-decoration-color: none;
    position: relative;
    bottom: 65px;
    border-radius: 5px 5px 5px 5px;
    padding: 2% 5% 2% 5%;
}

p {
    font-size: 22px;
    font-family: 'Myriad Pro';
}

.form-label {
    font-size: 20px;
}

.form-input {
    width: 30%;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
}

#avatar {
    display: block;
    font-size: 20px;
}

#ajout-avatar {
    display: inline-block;
    position: relative;
    left: 18.5%;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    bottom: 25px;
    background-color: #51bfd0;
}

#add-user {
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    background-color: #51bfd0;
    position: relative;
    left: 10%;
}

.error-form-inscription {
    color: red;
}

.form-input {
    font-size: 20px;
}


/* Fin Formulaire inscription */